<h1>Movies</h1>

<div id="container">
{{#each movies}}
    <div id="movie-tile">
        <div>
        <img id="images" src="{{this.image}}" alt="movie-image">
        </div>
        <br>
        <div>
        <p>{{this.title}}
        <br>
        <a href="/movie/{{this.id}}">See More</a>
        <br>
        <br>
        </p>
        </div>
    </div>
{{/each}}
</div>
<div id="center-text">
    <a href="/">Back to Homepage</a>
</div>


